@import "tailwindcss";


@keyframes error {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.error {
    animation: error 0.3s ease;
}

@keyframes slide {
    from {
        opacity: 0;
        transform: translateX(40px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate-slide {
    animation: slide 0.35s ease;
}